{{/* Disabled temporarily */}}

{{/* #!/usr/bin/env bash
# example: https://github.com/twpayne/dotfiles/blob/master/home/.chezmoiscripts/darwin/run_onchange_before_install-packages.sh.tmpl

set -eufo pipefail  # cspell:ignore eufo */}}
