{{- /* "chezmoi" is present as work around for https://github.com/twpayne/chezmoi/discussions/1724 */ -}}
{{- $cache := dict "chezmoi" .chezmoi -}}
{{- $github := "https://github.com" -}}

{{- template "read-versions-and-revisions-cache" $cache -}}

{{- if ne .chezmoi.os "windows" -}}
[".local/bin/age"]
type = "archive-file"
{{- $ageRepo := "FiloSottile/age" -}}
{{ $ageVersion := includeTemplate "get-github-latest-version" (list $ageRepo $cache) }}
url = "{{ $github }}/{{ $ageRepo }}/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
path = "age/age"

["{{ .dirs.omzsh }}"]
type = "archive"
{{- $ohMyZshRepo := "ohmyzsh/ohmyzsh" -}}
{{ $ohMyZshRevision := includeTemplate "get-github-head-revision" (list $ohMyZshRepo $cache) }}
url = "{{ $github }}/{{ $ohMyZshRepo }}/archive/{{ $ohMyZshRevision }}.tar.gz"
stripComponents = 1

["{{ .dirs.omzshPlugins }}/autoupdate"]
type = "archive"
{{- $autoupdateRepo := "TamCore/autoupdate-oh-my-zsh-plugins" -}}
{{ $autoupdateRevision := includeTemplate "get-github-head-revision" (list $autoupdateRepo $cache) }}
url = "{{ $github }}/{{ $autoupdateRepo }}/archive/{{ $autoupdateRevision }}.tar.gz"
exact = true
stripComponents = 1

["{{ .dirs.omzshPlugins }}/evalcache"]
type = "archive"
{{- $evalcacheRepo := "mroth/evalcache" -}}
{{ $evalcacheRevision := includeTemplate "get-github-head-revision" (list $evalcacheRepo $cache) }}
url = "{{ $github }}/{{ $evalcacheRepo }}/archive/{{ $evalcacheRevision }}.tar.gz"
exact = true
stripComponents = 1

["{{ .dirs.omzshPlugins }}/git-open"]
type = "archive"
{{- $gitOpenRepo := "paulirish/git-open" -}}
{{ $gitOpenRevision := includeTemplate "get-github-head-revision" (list $gitOpenRepo $cache) }}
url = "{{ $github }}/{{ $gitOpenRepo }}/archive/{{ $gitOpenRevision }}.tar.gz"
exact = true
stripComponents = 1

["{{ .dirs.omzshPlugins }}/zsh-autosuggestions"]
type = "archive"
{{- $zshAutosuggestionsRepo := "zsh-users/zsh-autosuggestions" -}}
{{ $zshAutosuggestionsRevision := includeTemplate "get-github-head-revision" (list $zshAutosuggestionsRepo $cache) }}
url = "{{ $github }}/{{ $zshAutosuggestionsRepo }}/archive/{{ $zshAutosuggestionsRevision }}.tar.gz"
exact = true
stripComponents = 1

["{{ .dirs.omzshPlugins }}/zsh-syntax-highlighting"]
type = "archive"
{{- $zshSyntaxHighlightingRepo := "zsh-users/zsh-syntax-highlighting" -}}
{{ $zshSyntaxHighlightingRevision := includeTemplate "get-github-head-revision" (list $zshSyntaxHighlightingRepo $cache) }}
url = "{{ $github }}/{{ $zshSyntaxHighlightingRepo }}/archive/{{ $zshSyntaxHighlightingRevision }}.tar.gz"
exact = true
stripComponents = 1

["{{ .dirs.omzshPlugins }}/zshrc.d"]
type = "archive"
{{- $zshrcdRepo := "mattmc3/zshrc.d" -}}
{{ $zshrcdRevision := includeTemplate "get-github-head-revision" (list $zshrcdRepo $cache) }}
url = "{{ $github }}/{{ $zshrcdRepo }}/archive/{{ $zshrcdRevision }}.tar.gz"
exact = true
stripComponents = 1
{{- end -}}

{{- $nerdFontsRepo := "ryanoasis/nerd-fonts" -}}
{{ $nerdFontsVersion := includeTemplate "get-github-latest-version" (list $nerdFontsRepo $cache) }}
["{{ joinPath .dirs.fonts .terminal.font.fileName }}"]
type = "file"
url = "https://raw.githubusercontent.com/{{ $nerdFontsRepo }}/v{{ $nerdFontsVersion }}/patched-fonts/FiraCode/Regular/{{ .terminal.font.fileName }}"
