tap "gabrie30/utils"
tap "github/gh"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "lindell/multi-gitter"
brew "webp"
brew "apr"
brew "readline"
brew "sqlite"
brew "xz"
brew "awscli"
brew "bash-completion"
brew "brew-cask-completion"
brew "pkg-config"
brew "python@3.9"
brew "ccache"
brew "chezmoi"
brew "colordiff"
brew "coreutils"
brew "libidn2"
brew "libnghttp2"
brew "curl"
brew "dialog"
brew "diff-so-fancy"
brew "direnv"
brew "gdk-pixbuf"
brew "gh"
brew "git"
brew "gnu-sed"
brew "unbound"
brew "gnutls"
brew "gobject-introspection"
brew "jasper"
brew "icu4c"
brew "harfbuzz"
brew "pango"
brew "graphviz"
brew "grep"
brew "hadolint"
brew "htop"
brew "jq"
brew "libuv"
brew "node"
brew "ldns"
brew "libssh"
brew "libusb"
brew "libxml2"
brew "libxmlsec1"
brew "libyaml"
brew "make"
brew "mas"
brew "mtr"
brew "mysql"
brew "mysql-client"
brew "nmap"
brew "nvm"
brew "openconnect"
brew "openssh"
brew "openssl@3"
brew "oras"
brew "p7zip"
brew "podman"
brew "ruby"
brew "rust"
brew "shellcheck"
brew "sourcedocs"
brew "ssh-copy-id"
brew "subversion"
brew "swig"
brew "tcl-tk"
brew "tcptraceroute"
brew "telnet"
brew "terminal-notifier"
brew "tfenv"
brew "tflint"
brew "tree"
brew "wget"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "gabrie30/utils/ghorg"
brew "lindell/multi-gitter/multi-gitter"
cask "alfred"
cask "balenaetcher"
cask "bartender"
cask "cleanmymac"
cask "dash"
cask "discord"
cask "docker"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-fira-mono"
cask "font-fira-mono-for-powerline"
cask "font-fira-mono-nerd-font"
cask "gitkraken"
cask "gpg-suite-no-mail"
cask "key-codes"
cask "notion-enhanced"
cask "podman-desktop"
cask "raspberry-pi-imager"
