#!/usr/bin/env sh
#
# Loaded at user login.

# Variables intended to be read-only. Used for further configuration to avoid making scripts templates.
export __FINLEY_OS="{{ .chezmoi.os }}"
export __FINLEY_IS_HEADLESS="{{ .sys.is_headless }}"
export __FINLEY_IS_PI="{{ .sys.is_pi }}"
export __FINLEY_WORKSTATION_USE="{{ .workstation_use }}"
